<!DOCTYPE html>
<html lang="en">
  <header>
    <title>About</title>
  </header>
  <body>
    <%- include("partials/header") -%>
    <div class="container fluid">
      <h1>About</h1>
      <p><%= aboutingContent %></p>
    </div>
    <%- include('partials/footer') -%>
  </body>
</html>
