<!DOCTYPE html>
<html lang="en">
  <header>
    <title>Compose</title>
  </header>
  <bod>
    <%- include('partials/header') -%>
    <div class="container fluid">
      <h1>Compose</h1>
      <input type="text" name="text" />
      <button type="button">Publish</button>
    </div>
    <%- include('partials/footer') -%>
  </bod>
</html>
