<!DOCTYPE html>
<html lang="en">
  <header>
    <title>Home</title>
  </header>
  <body>
    <%- include('partials/header'); -%>
    <div class="container fluid">
      <h1>Home</h1>
      <p><%= startingContent %></p>
      <% console.log(posts); %>
    </div>
    <%- include("partials/footer"); -%>
  </body>
</html>
